
#wrapper{
width:100%;
margin:0 auto;
height:550px;
background-color:#B9F1F1;
}

#header{
height:100px;
width:100%;
background-color:#B9B9B9;
color:#001234;
}

#navigation{
width:15%;
height:450px;
border-right:2px solid white;
background-color:#F1F1F1;
float:left;
}

#navigate{
list-style:none;
text-align:left;
}
#navigate li{
list-style:none;
}

#inner-body{
padding:5px;

}
#course-selector{
text-align:center;
}
.bold{
font-weight:bold;
}
.list tr td{
border:1px solid black;
}
table{
text-align:center;
margin:0 auto;
}


#login{ 
text-align:center;
}

.headLine{
font-size:20px;
text-align:center;
}
.message{
text-align:center;
}
.logout{
float:right;

}

#header{
text-align:center;
margin:10px auto;
}

#topNav{
text-align:center;
list-style:none;
width:400px;
margin:20px auto;
}

#topNav li{

float:left;
margin:70px 0 0 20px ;


}

#topNav li a{
display:block;
float:left;
text-decoration:none;


}

#topNav li a:hover{
color:white;


}
#prefTable{
width:700px;
margin:30px auto;
}

#prefTable tr td{
border:1px solid black;
padding:4px;
}
